In [1]:
import pandas as pd

In [2]:
#df_players = pd.DataFrame(pd.read_pickle('chgk/players.pkl')).transpose()
#df_players.head()

In [3]:
df_tournaments = pd.DataFrame(pd.read_pickle('chgk/tournaments.pkl')).transpose()
df_tournaments = df_tournaments[df_tournaments.dateStart >= '2019-01-01']
tournaments_ids_all = df_tournaments[df_tournaments.dateStart >= '2019-01-01']
tournaments_ids_all = set(tournaments_ids_all['id'])
tournaments_ids_test = df_tournaments[df_tournaments.dateStart >= '2020-01-01']
tournaments_ids_test = set(tournaments_ids_test['id'])
tournaments_ids_train = tournaments_ids_all.difference(tournaments_ids_test)
len(tournaments_ids_all), len(tournaments_ids_train), len(tournaments_ids_test)

(1109, 687, 422)

In [4]:
df_results = pd.read_pickle('chgk/results.pkl')
print("full dataframe length = ", len(df_results))
results_all = {}
for k, v in df_results.items():
    # игнорируем турниры до 2019 года, а также пустые записи
    if k in tournaments_ids_all and len(v) > 0:
        valid = True
        # игнорируем турниры, где нет нужных нам валидных полей
        for team_data in v:
            if 'team' not in team_data or 'mask' not in team_data or 'teamMembers' not in team_data:
                valid = False
                continue
            if team_data['mask'] is None or team_data['team'] is None or team_data['teamMembers'] is None:
                valid = False
                continue
        if valid:
            results_all[k] = v
print("cleared dataframe length = ", len(results_all))
df_results = results_all
results_all = [] # erase from dram

full dataframe length =  5528
cleared dataframe length =  840

In [11]:
df_results_cleaned = []
for k, v in df_results.items():
    for team_data in v:
        team = team_data['team']
        mask = str(team_data['mask']).replace('X', '0').replace('?', '0')
        players = team_data['teamMembers']
        for player in players:
            df_results_cleaned.append([k, team['id'], player['player']['id'], mask])
df_results = pd.DataFrame(df_results_cleaned)
df_results.columns = ['tournament_id', 'team_id', 'player_id', 'mask']
df_results.head()

   tournament_id  team_id  player_id                                  mask
0           4772    45556       6212  111111111011111110111111111100010010
1           4772    45556      18332  111111111011111110111111111100010010
2           4772    45556      18036  111111111011111110111111111100010010
3           4772    45556      22799  111111111011111110111111111100010010
4           4772    45556      15456  111111111011111110111111111100010010

In [14]:
df_train = df_results[df_results.tournament_id.isin(tournaments_ids_train)]
df_test = df_results[df_results.tournament_id.isin(tournaments_ids_test)]
df_results = [] #erase from dram
df_train.shape, df_test.shape

((451119, 4), (108877, 4))

In [16]:
# Need to loops, because one loop requires too much memory
df_results_cleaned = []
for _, row in df_train.iterrows():
    tt_id = row['tournament_id']
    tm_id = row['team_id']
    pr_id = row['player_id']
    mask = row['mask']
    for idx in range(len(mask)):
        df_results_cleaned.append([tt_id, tm_id, pr_id, idx, mask[idx]])
df = pd.DataFrame(df_results_cleaned)
df.columns = ['tournament_id', 'team_id', 'player_id', 'question_local_id', 'target']
df.head()

   tournament_id  team_id  player_id  question_local_id target
0           4772    45556       6212                  0      1
1           4772    45556       6212                  1      1
2           4772    45556       6212                  2      1
3           4772    45556       6212                  3      1
4           4772    45556       6212                  4      1